server:
  port: 8083

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:mysql://database-2.cjucusae0dti.eu-north-1.rds.amazonaws.com:3306/productdb?createDatabaseIfNotExists=true
    username: admin
    password: YourNewPassword123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
# security:
#   jwt:
#     secret: "5367566859703373367639792F423F452848284D6251655468576D5A71347437"
#     expiration: 3600000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://13.60.69.247:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
